lab03/producer/src/main/resources/readings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="readings">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="reading">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value" type="xs:double" />
                            <xs:element name="time" type="xs:dateTime" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>